<h2 class="pb-2 border-bottom">
  <i class="bi bi-person-fill"></i>
  <%= @customer.name %>
</h2>

<div class="row">
  <div class="col-md-4">
    <%= QrCode.call Current.customer.id.to_s %>
  </div>

  <div class="col-md-8">
    <%= turbo_frame_tag :reservations_page, src: app_reservations_path %>
    <%= turbo_frame_tag :events_page, src: app_events_path %>
  </div>
</div>
