<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal" data-controller="modal" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= t '.title' %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <%= render App::AgendaComponent.new(events: @events) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
