<span class="navbar-brand">
  <% if Current.company.present? %>
    <% if Current.company.logo.attached? %>
      <%= image_tag Current.company.logo.variant(:thumb), class: "img-fluid" %>
    <% else %>
      <%= Current.company.name %>
    <% end %>
  <% else %>
    Fit Shift
  <% end %>
</span>
